body{
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    display: flex;
}
a{
    text-decoration: none;
}
header{
    background: #f6f6f6;
    padding: 35px 0;
}
.header-container{
    width:90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.main-menu{
    top: 20px;
}
.logo img{ 
    height: 90px;
}
ul {
    display: flex;
}
#menu-checkbox{
    display: none;
}
.header-container a{
    color: black;
    font-size: 16px;
    padding: 27px 6px;
    margin-right: 63px;
}
.header-container a:hover{
    background: #65efd4;
}

.top-slide{
    background-size: cover;
    height: 100vh;
    min-height: 500px;
    background: url('../assets/office.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    padding-top: 170px;
}
.top-container{
    width: 85%;
    margin: 0 auto;
}
.top-slide h2{
    background: yellow;
    display: inline;
    font-size: 70px;
    padding: 10px;    
}
.top-slide :nth-child(2){
    margin-top: 15px;
}
.top-slide p{
    background: grey;
    display: inline;
    font-size: 24px;
    color: #fff;
    padding: 3px;
    margin: 6px; 
}
.speci-container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.speci-container h3{
    font-size: 36px;
    margin-top: 16px;
}
.speci-container p{
    margin: 15px;
    font-size: 20px;
}
.top-card img{
    height: 140px;
}
.bot-card{
    background: gray;
    position: relative;
    top: -30px;
}
.paragh {
    font-size: 20px;
    color: snow;
}
.sp-cards{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.portfolio{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.portfolio h4{
    background: #424147;
    padding: 0 8px;
    font-size: 19px;
    display: inline-block;
    color: yellow;
    margin-bottom: 25px;
}
.portfolio p{
    font-size: 16px;
}
.toggles button{
    border: none;
    color: #424146;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
    margin:20px;
}
.toggles button:after{
    content: ' / '
}
.toggles button:last-child:after{
    content: ' '
}
.posts{
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 20px;
    margin: 0 auto;
}
.post{
    margin: 4px;
}
.contact{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.contact h4{
    background: #424147;
    padding: 0 8px;
    font-size: 19px;
    display: inline-block;
    color: yellow;
    margin:20px;
}
.contact p{
    font-size: 16px;
    padding: 7px;
}
footer{
    background: #414146;
    padding: 30px 0;
    color: aliceblue;
    font-size: 18px;
}
.footer-cont{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 30% 20%;
}
.footer-cont .about-us p{
    font-size: 14px;
    margin-top: 20px;
    margin-right: 5px;
}
.footer-cont .about-us a{
    background: #000;
    color: aliceblue;
    margin-top: 30px;
    margin-bottom: 35px;
    border-bottom: 2px solid yellow;
    font-size: 15px;
    padding: 15px;
    display: inline-block;
}
.tweets p{
    margin-top: 25px;
    font-size: 14px;
}
.tweets span{
    color: yellow;
}




@media screen and (max-width:420px) {
    .header-container{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .main-menu{
        display: none;
    }
    .main-menu li{
        width: 100%;
        display: block;
        font-size:12px;
    }
    .main-menu a{
        display: block;
        padding: 8px;
    }
    .toggle-button{
        text-align: center;
        display: block;
        cursor: pointer;
        color: #000;
        margin-top: 20px;
    }
    .toggle-button:after{
        content: attr(data-open);
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .main-menu{
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .toggle-button:after{
        content: attr(data-close);
    }
    .header-container a{
        margin-right: -65px;
    }
    .main-menu{
        position: relative;
        top: 30px;
        right: 115px;
    }
    .top-slide {
    padding-bottom: 40px;
    padding-top: 40px;
    height: 0;
    }
    .top-slide h2{
        font-size: 36px;
        padding-bottom: 50px;
    }
    .top-slide p{
        font-size: 22px;
    }
    .speci-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .sp-cards{
        flex-direction: column;
    }
    .posts{
    width: 90%;
    display: grid;
    grid-template-columns: auto ;
    
}


